/* vars */
:root {
  /*  fonts  */
  --zilla: 'Zilla Slab', serif;
  --nanum: 'Nanum Myeongjo', serif;
  --noto: 'Noto Serif', serif;
  /* --default-font-1: normal 1.8rem/1.5 'Open Sans', sans-serif; */
  --body-font-1: 400 2rem/1.5 var(--zilla);
  --body-font-2: 700 2.5rem/1.5 var(--zilla);
  --header-font-1: normal clamp(8rem, 7vw, 15rem)/1 var(--nanum);
  --header-font-2: normal 4rem/1 var(--nanum);

  /*  colors  */
  --offwhite: #ebddd2;
  --bg0: #282828;
  --bg1: #3c3836;
  --blue: #458588;
  --green: #b8bb26;
  --yellow: #d79921;
  --dark-aqua: #427b58;
  --aqua: #689d6a;

  --text-color: var(--offwhite);
  /* --accent-color: RGBA(156, 161, 132, 1.00); */
  --accent-color: var(--green);
  --link-color: var(--accent-color);
  /* --background: #3f4536; */
  --background: var(--bg1);
  --background-alt: var(--bg1);
  --button-color: var(--accent-color);

  /*  dimensions  */
  --spacing: max(3.5rem, 5vw);
  --spacing-tight: calc(var(--spacing) / 2.5);
  --spacing-loose: calc(var(--spacing) * 2);
  /* --container-width: 140rem; */
  --container-gap: var(--line-weight) * 2;
  /* --container-gap: var(--spacing) * 2; */
  --radius: 2px;
  --line-weight: 4px;

  --transition-speed: 300ms;
}

/* reset */
*,
::before,
::after {
  box-sizing: inherit;
}

[hidden] {
  display: none !important;
}

body, 
h1, 
h2, 
h3, 
h4, 
h5, 
h6, 
p,
figure,
blockquote,
dl,
dd,
ol, 
ul {
  margin: 0;
  font-weight: inherit;
}
main {
  display: block;
}
ul[role="list"],
ol[role="list"] {
  list-style: none;
  padding: unset;
}


/* font faces */
/* @font-face {
  font-family: 'Din';
  src: url('fonts/DINNextLTPro-BoldCondensed.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
} */

/* base */
html {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-size: 62.5%;
  scroll-behavior: smooth;
  
  background-color: var(--accent-color);
}
body {
  box-sizing: border-box;
  font: var(--body-font-1);
  color: var(--text-color);
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  margin: var(--spacing);
  margin: var(--line-weight);
  border-radius: var(--radius);
}
body::before {
  content: '';
  display: block;
  position: fixed;
  top: 0;
  width: 100%;
  height: var(--line-weight);
  background-color: var(--accent-color);
  z-index: 10;
}
body::after {
  content: '';
  display: block;
  position: fixed;
  bottom: 0;
  width: 100%;
  height: var(--line-weight);
  background-color: var(--accent-color);
  z-index: 10;
}

:focus {
  outline: 1px dotted var(--accent-color);
}

a {
  text-decoration: none;
}
a:not([class]) {
  color: var(--link-color);
  transition: box-shadow var(--transition-speed);
}
a:not([class]):hover {
  box-shadow: inset 0 calc(var(--line-weight) * -1) 0 var(--link-color);
}

::selection {
  background-color: var(--accent-color);
  color: var(--text-color);
}

input,
textarea,
select {
  font: inherit;
  border: 1px solid;
  padding: 0.5rem 1rem;
  vertical-align: baseline;
  display: inline-block;
}
textarea {
  display: block;
}
[type=checkbox],
[type=radio] {
  display: unset;
  padding: unset;
  min-height: unset;
}
fieldset {
  margin: 0;
  padding: 0;
  border: 0;
}

img,
picture {
  display: block;
  max-width: 100%;
  height: auto;
}

button {
  font: inherit;
  color: var(--button-text-color, inherit);
  background-color: var(--button-color);
  border: 1px solid var(--button-border-color, var(--button-color));
  padding: 0.5rem 1rem;
}
button:focus,
button:hover {
  filter: brightness(110%);
}
button:active {
  filter: brightness(90%);
}
button > * {
  pointer-events: none;
}

/* global utilities */
.g-unbutton {
  padding: 0;
  margin: 0;
  display: inline-block;
  background-color: transparent;
  border: 0;
}

.g-article-text p {
  margin-top: var(--spacing-tight);
  margin-bottom: var(--spacing-tight);
}
.g-article-text h2 {
  margin-top: var(--spacing);
  margin-bottom: var(--spacing-tight);
  font: var(--header-font-2);
}
.g-article-text h3 {
  margin-top: var(--spacing);
  margin-bottom: var(--spacing-tight);
  font: var(--body-font-2);
}
.g-article-text > :first-child {
  margin-top: 0;
}
.g-article-text > :last-child {
  margin-bottom: 0;
}

.g-spaced > *:not(:last-child) {
  margin-bottom: var(--spacing, 2rem);
}

.g-container {
  width: min(100vw - var(--container-gap, 0rem), var(--container-width));
  margin-left: auto;
  margin-right: auto;
}

.g-ratio {
  position: relative;
  height: 0;
  padding: 0;
  padding-top: var(--ratio, 56.25%);
}
.g-ratio > * {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.g-icon {
  width: 1.2em;
  height: 1.2em;
  display: inline-block;
  fill: currentColor;
  vertical-align: text-bottom;
}

.g-visually-hidden {
	position: absolute !important;
	clip: rect(1px, 1px, 1px, 1px);
	padding:0 !important;
	border:0 !important;
	height: 1px !important; 
	width: 1px !important; 
	overflow: hidden;
}

.g-pad {
  padding: var(--spacing);
}

.g-sticky {
  position: sticky;
  top: var(--spacing);
}
.g-columns {
  display: grid;
  grid-template-columns: var(--columns, 1fr 1fr);
  grid-gap: var(--gap, var(--line-weight));
}
@media (max-width: 50em) {
  .g-columns {
    --columns: 1 !important;
  }
}
