.p-home-hero {
  --columns: 1fr 2fr;
  grid-column: 1/-1;
}
.p-home-block {
  padding: var(--spacing);
  background-color: var(--background);
  border-radius: var(--radius);
}
.p-home-title {
  font: var(--header-font-1);
  margin-bottom: var(--spacing);
}
.p-home-headshot {
  border-radius: 90rem;
  vertical-align: middle;
  margin-bottom: var(--spacing);
}

.p-home-article {
  padding: 0;
  background-color: var(--accent-color);
  grid-column: 1/-1;
  --columns: 1fr 2fr;
}
.p-home-article:nth-of-type(odd) {
  --columns: 2fr 1fr;
}
.p-home-article:nth-of-type(odd) > :first-child {
  order: 1;
}
.p-home-article img {
  width: 100%;
}

.p-home-work {
  grid-column: 1/-1;
}
